
html,body{
  /* background-image: url('./img/bg1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  
}
.loading{
  width: 100%;
  margin:auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.list-grid{
  padding: 50px 150px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  animation: fadein 1s alternate;
  
}

img{
  border-radius: 3px;
}
h3{
  font-size: 25px;
  /* color: white; */
}
input{
  width: 200px;
  height: 1.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  from{
    opacity: 0.2;
  }
  to{
    opacity: 1;
  }
}
.icon-wrapper {
  position: relative;
  padding: 0px 30px;
}
